.shop-main {
  width: 95%;
  margin: auto;
}

.avatar-page-div {
  height: 220px;
  background-image: url("../../../public/avartar-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid var(--tg-gradient-1);
}

.avartar-title {
  color: var(--tg-common-color-white);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.avartar {
  margin-bottom: 20px;
  border-radius: 20px;
  border: 2px solid var(--tg-gradient-1);
  margin-right: 26px;
  height: auto;
}

.avartar-icon-div {
  width: 100%;
  height: 70%;
  background-color: black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
}

.avartar-icon {
  width: 85%;
}

.avartar-des {
  width: 100%;
  height: 30%;
  background-color: grey;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 15px;
}

.avartar-name,
.avartar-price {
  color: var(--tg-common-color-white);
}

.avartar-price-btn {
  padding: 10px 15px;
  background-color: var(--tg-gradient-1);
  border-radius: 30px;
  color: var(--tg-common-color-white);
}

.coming-soon-title {
  color: var(--tg-common-color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
