@font-face {
  font-family: "Power Grotesk";
  src: url("../../../static/assets/fonts/power-grotesk/PowerGrotesk-UltraBold.woff")
      format("woff"),
    url("../../../static/assets/fonts/power-grotesk/PowerGrotesk-UltraBold.woff2")
      format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("../../../static/assets/fonts/mabry-pro/MabryPro-Bold.woff")
      format("woff"),
    url("../../../static/assets/fonts/mabry-pro/MabryPro-Regular.woff2")
      format("woff2");
  font-weight: 800;
  font-style: normal;
}

.inline-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-family: var(--tg-body-font-family);
  color: var(--tg-body-font-color);
  text-align: center;
}

.inline-list li {
  margin-right: 10px;
  position: relative;
}

.inline-list li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -5px; /* Adjust as needed, depending on the thickness of the border */
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  border-right: 1px solid lightgrey;
}

.upload-event {
  font-family: var(--tg-body-font-family);
  color: var(--tg-body-font-color);
  margin-bottom: 10px;
}

.upload-description {
  font-family: var(--tg-body-font-family);
  color: var(--tg-body-font-color);
  margin: 0px;
  margin-top: 5px;
  font-size: 15px;
}

.Blog {
  background-image: url("../../../public/assets/img/bg/gradient_bg02.png");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1450px;
  margin: auto;
}

.blog-section {
  padding-top: 0px;
  padding-bottom: 0px;
}

.blog-main {
  width: 95%;
  margin: auto;
}

.top-img,
.bottom-img {
  display: flex;
}

.top-img > img {
  max-width: 500px;
}

.sec-img > img {
  max-width: 100px;
}

.third-img > img {
  max-width: 100px;
}

.fourth-img > img {
  max-width: 100px;
}

.fifth-img > img {
  max-width: 100px;
}

.save-blog {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 10px;
  border-radius: 10px;
  color: black;
}

.liked-btn-div {
  margin-top: 10px;
  padding: 5px 0px;
  color: black;
}

.all-info-div > h2 {
  font-family: var(--tg-heading-font-family);
  margin: 0px;
}

.location-name {
  color: var(--tg-body-font-color);
  margin: 0px;
}

.browsing-page-text {
  color: var(--tg-body-font-color);
  font-family: var(--tg-body-font-family);
}

.blog-info {
  margin-top: 5px;
}

.blog-info > div {
  padding: 10px;
}

.row.py-3.shadow-5 {
  padding: 0px 0px 0px 0px !important;
  margin: 0px;
  background-color: var(--tg-common-color-white);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) !important;
}

.mb-1 {
  position: relative;
  cursor: pointer;
}

.mb-11,
.mb-12,
.mb-13,
.mb-14 {
  filter: blur(5px);
}

.D_Qy-2 {
  align-items: center;
  background-color: rgba(44, 44, 45, 0.69);
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  height: 20px;
  justify-content: center;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 20px;
  z-index: 1;
}

.col-12.mb-1 {
  padding: 0px !important;
  width: 100%;
}

.col-12 {
  padding: 0px;
}

.row {
  margin: 0px;
}

.col-9.mb-1 {
  margin: 0px !important;
  padding: 0px !important;
  min-height: 400px;
}

.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  transition: 0.5s;
  margin: auto;
  position: relative;
}

.col-3 {
  padding: 12px;
  border-left: 1px solid #e0e0e0;
}

.col-3.mt-1 {
  margin: 0px !important;
}

.ecommerce-gallery-main-img {
  object-fit: cover;
  cursor: pointer;
}

.like-btn {
  cursor: pointer;
}

.liked-btn {
  cursor: not-allowed;
}

.sort-container {
  display: flex;
  gap: 20px;
  margin: 10px 0px;
}

.sort-by {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.browse-reÌjouir {
  color: var(--tg-common-color-white);
  text-shadow: 1px 1px 1px #555;
}

.browse-country {
  font-family: var(--tg-heading-font-family);
}

.page-number-div {
  text-align: center;
  margin: 20px 0px;
}

.page-number-div > button {
  margin: 3px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) !important;
  border: 0px;
  color: black;
}

.page-number-div > button:hover {
  background-color: var(--christmas-green);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) !important;
  color: white;
}

.active-1 {
  background-color: var(--christmas-green) !important;
  color: var(--tg-common-color-white) !important;
}

.search-form {
  width: 100%;
  margin: 0 auto;
}

.search-form input {
  height: 100%;
  background: transparent;
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  margin-left: 0px;
}

.search-form select {
  height: 100%;
  font-size: 1rem;
  border: none;
  width: 90%;
  margin: auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.search-form select:focus {
  border: 0;
}

.search-form button {
  height: 100%;
  width: 100%;
  font-size: 1rem;
}

.search-form button svg {
  width: 24px;
  height: 24px;
}

.search-body {
  margin-bottom: 1.5rem;
}

.search-body .search-filters .filter-list {
  margin-bottom: 1.3rem;
}

.search-body .search-filters .filter-list .title {
  color: #3c4142;
  margin-bottom: 1rem;
}

.search-body .search-filters .filter-list .filter-text {
  color: #727686;
}

.search-body .search-result .result-header {
  margin-bottom: 2rem;
}

.search-body .search-result .result-header .records {
  color: #3c4142;
}

.search-body .search-result .result-header .result-actions {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-body .search-result .result-header .result-actions .result-sorting {
  display: flex;
  align-items: center;
}

.search-body
  .search-result
  .result-header
  .result-actions
  .result-sorting
  span {
  flex-shrink: 0;
  font-size: 0.8125rem;
}

.search-body
  .search-result
  .result-header
  .result-actions
  .result-sorting
  select {
  color: #68cbd7;
}

.search-body
  .search-result
  .result-header
  .result-actions
  .result-sorting
  select
  option {
  color: #3c4142;
}

.form-control {
  background-color: var(--tg-common-color-white) !important;
  transition: 0.5s;
  width: 98% !important;
  margin: auto;
}

.form-control:focus {
  background-color: var(--tg-common-color-white) !important;
}

.countries-cat {
  padding: 40px 30px;
  font-family: var(--tg-heading-font-family);
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
}

.locations-ul {
  padding: 0px;
  margin: 0px;
}

.locations-ul > li {
  font-family: var(--tg-heading-font-family);
  padding: 11px 18px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  list-style-type: none;
  color: #3c4142;
  margin-bottom: 14px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: 0.5s;
}

.locations-ul li:hover {
  background-color: var(--christmas-green);
  transform: scale(1.1);
}

.locations-ul li:hover .location-name,
.locations-ul li:hover .locations-li {
  color: var(--tg-common-color-white);
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .search-body .search-filters {
    display: flex;
  }
  .search-body .search-filters .filter-list {
    margin-right: 1rem;
  }
}

@media (min-width: 992px) {
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}

.card-margin {
  padding: 0px;
}

.card {
  /* box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1); */
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border: none;
  /* box-shadow: none; */
  border-radius: 8px;
}

.container.blog {
  margin: 0px !important;
  padding: 0px !important;
  max-width: 100% !important;
}

.reset > button {
  box-shadow: none;
  border: 0px;
  font-weight: bold;
}

.reset > button:hover {
  color: rgb(255, 166, 0);
}

.Support {
  position: relative;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 40px;
  z-index: 1;
}

.Support::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
      -80deg,
      var(--tg--christmas-yellow) 20%,
      rgba(0, 0, 0, 0) 20%
    ),
    url("https://platthillnursery.com/wp-content/uploads/2020/11/platt-hill-artificial-vs-fresh-christmas-trees-ornament-up-close.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(1px);
  z-index: -1;
  border-radius: 10px;
}

.Support * {
  position: relative;
  z-index: 2;
}

.Support > h2 {
  color: var(--tg--christmas-yellow);
  text-shadow: 2px 2px var(--christmas-red);
}

.previous-page {
  position: sticky;
  top: 45%;
  left: 0px;
  z-index: 10000;
  background-color: rgba(201, 201, 201, 0.9);
  width: 50px;
  text-align: center;
  padding: 10px 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  height: 40px;
}

.next-page {
  position: sticky;
  top: 45%;
  right: 0px;
  z-index: 10000;
  background-color: rgba(201, 201, 201, 0.9);
  margin-right: 0px;
  margin-left: auto;
  width: 50px;
  text-align: center;
  padding: 10px 0px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  height: 40px;
}

.arrow {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  transition: 0.3s;
}

.next-page:hover,
.previous-page:hover {
  background-color: #00873e;
  color: var(--tg-common-color-white);
  width: 100px;
}

.filter-div {
  padding: 10px 0px;
}

.reset-btn {
  background-color: var(--tg-common-color-white);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) !important;
  width: 92% !important;
  margin: auto !important;
}

.reset-btn:hover {
  background-color: rgb(230, 230, 230) !important;
}

.post-time {
  color: rgb(71, 71, 71);
}

.Feedback {
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #00873e;
  color: var(--tg-common-color-white);
  text-align: center;
}

.countries-cat {
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgb(221, 221, 221);
  margin-bottom: 20px;
}

.countries-cat > h3 {
  margin: 0px;
  margin-bottom: 20px;
  font-size: 22px;
}

.new-post {
  position: absolute;
  left: -5px;
  top: 10px;
  z-index: 100000;
}

.new-post > img {
  width: 100px;
  z-index: 100000;
}

.d-flex.new {
  transform: scale(1.03);
}

.rating-div {
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

.leading-5 {
  line-height: 1.25rem;
}

.font-bold {
  font-weight: 700;
}

.text-xl {
  font-size: 1.25rem;
}

.green-rating {
  background-color: rgb(54, 216, 85);
}

.yellow-rating {
  background-color: var(--tg--christmas-yellow);
}

.ma-auto {
  margin: auto !important;
}

.btn-submit.search-sm {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  color: white;
  padding: 20px 20px;
  z-index: 100000;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.3s;
}

.inline-div {
  display: flex;
  justify-content: space-between;
}

.inline-div > div {
  display: inline-block !important;
}

.reset.sm {
  width: 40px;
  background-color: var(--gray-500);
  border-radius: 50%;
  cursor: pointer;
}

.btn-submit.search-sm > .btn.btn-submit {
  padding: 10px 10px;
}

.btn-submit.search-sm > .btn.btn-submit:hover {
  background-color: var(--christmas-green);
  color: var(--tg-common-color-white);
}

.country-review-blog {
  border-radius: 10px;
  min-height: 270px;
  padding: 35px 35px 20px 35px !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  text-align: left;
  cursor: pointer;
  margin-bottom: 15px;
  position: relative;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
  object-fit: cover;
}

.country-review-blog > div > div > h4,
.country-review-blog > div > div > h5 {
  color: white;
}

.top-three-content {
  width: 70%;
}

.total-like {
  width: 30%;
}

.total-like > h2 {
  color: white;
  text-align: end;
}

.top-section-text {
  border-bottom: 1.5px solid rgb(167, 167, 167);
  margin-bottom: 10px;
}

.ranking {
  position: absolute;
  top: 13px;
  left: 13px;
}

.ranking > img {
  width: 40px;
}

.inner-image-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 7px;
  background-color: white;
  border-radius: 5px;
}

.image-grid {
  column-count: 4;
  column-gap: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.image-item {
  break-inside: avoid;
  margin-bottom: 28px;
  cursor: pointer;
  position: relative;
}

.image-item:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease-out;
}

.image-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 20px;
}

.new-upload-icon {
  position: absolute;
  z-index: 1000;
  left: -5px;
  top: 5px;
}

.new-upload-icon img {
  width: 100px;
}

.post-title {
  color: black;
}

@media (max-width: 1200px) {
  .image-grid {
    column-count: 3;
  }
}

@media (max-width: 768px) {
  .ml12.aside-cta.flex--item {
    display: none;
  }

  .row.py-3.shadow-5 {
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .btn-submit.search,
  .btn-submit.reset.lg {
    display: none;
  }
  .btn-submit.search-sm {
    display: block;
  }
  .image-grid {
    column-count: 2;
  }
}

@media (max-width: 576px) {
  .search-form select {
    width: 100%;
  }
  .search-form input {
    margin: 0px;
    width: 100% !important;
  }
  .col-lg-1.col-md-1.col-sm-1.p-0 {
    margin-bottom: 10px;
  }
  .col-lg-2.col-md-2.col-sm-2.p-0 {
    margin-bottom: 10px;
  }
  .col-lg-7.col-md-6.col-sm-6.p-0 {
    margin-bottom: 10px;
  }
  .col-lg-1.col-md-1.col-sm-2.p-0.reset {
    margin-bottom: 10px;
  }
  .form-control {
    padding: 10px !important;
  }
  .reset-btn {
    width: 100% !important;
  }
}

@media (max-width: 480px) {
  .image-grid {
    column-count: 1;
  }
}
