.Post {
  height: auto;
}

.endpoint > div {
  margin: 0px 20px;
}

.current-image {
  border-radius: 30px;
  margin: auto;
}

.left {
  margin: 0px auto;
}

.right {
  padding: 20px !important;
}

.row.col-12.post {
  margin: 50px 0px;
  background-color: var(--tg-common-color-white);
  padding: 20px;
  border-radius: 30px;
}

.likes {
  font-size: 18px;
  font-weight: 600;
}

.post-title {
  font-weight: 600;
}
