.Home {
  width: 100%;
  max-width: 1450px;
  margin: auto;
}

.wave-main {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%23D6001C" fill-opacity="1" d="M0,288L60,288C120,288,240,288,360,256C480,224,600,160,720,160C840,160,960,224,1080,229.3C1200,235,1320,181,1380,154.7L1440,128L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>');
  background-repeat: no-repeat;
  background-size: 1440px 320px;
}

.wave-bottom {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%23ffd700" fill-opacity="1" d="M0,288L60,288C120,288,240,288,360,256C480,224,600,160,720,160C840,160,960,224,1080,229.3C1200,235,1320,181,1380,154.7L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>');
  background-repeat: no-repeat;
  background-size: 1440px 320px;
  background-position: bottom;
}

.introducing {
  font-weight: bold;
  font-size: 25px;
  color: white;
  margin: 20px 0px;
}

.header-section {
  min-height: 550px;
  background-image: url("../public/santa.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px;
  padding-top: 0px;
}

.slogan {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 50px;
}

.days {
  font-size: 35px;
  background-color: rgba(254, 14, 14, 0.8);
}

.countdown {
  text-align: center;
  color: white;
  font-weight: bold;
}

.countdown-time {
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 30px;
  width: 100px;
  display: inline-block;
}

.start-btn {
  text-align: center;
  color: white;
  font-weight: bold;
  margin: 30px 0px;
  margin-bottom: 0px;
}

.btn.btn-danger {
  border-radius: 20px !important;
  margin: 10px 10px;
}

.btn.btn-outline-light {
  border-radius: 20px !important;
  margin: 10px 10px;
}

.container-footer.container.text-center.my-6.p-8.text-gray3 {
  background-color: #00873e;
  background-image: url("../public/snow-4.png");
  margin: 0px;
  padding: 20px 0px;
  max-width: 100% !important;
}

.mission-div {
  width: 95%;
  margin: auto;
  text-align: center;
  padding: 30px 0px;
  background-image: url("../public/tree-1.png");
  background-repeat: no-repeat;
  background-size: 400px 400px;
  background-position: right;
}

.mission {
  display: inline-block;
  border-radius: 10px;
  padding: 25px;
  margin: 10px 15px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  width: 300px;
  transition: 0.5s;
}

.mission:hover {
  background-color: rgba(238, 238, 238, 0.9);
}

.d-flex {
  display: flex;
  flex-direction: row;
}

.flex-box {
  width: 95%;
  margin: auto;
}

.feature-img {
  width: 50%;
  text-align: center;
}

.feature {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.feature-hr {
  width: 100px;
  border: 2px solid rgb(255, 0, 0);
  color: rgb(255, 0, 0);
  border-radius: 20px;
  margin: 5px 0px;
}

strong {
  font-family: "Tilt Neon", sans-serif;
}

.feature-child {
  padding: 20px;
}

.feature-child > p {
  font-size: 20px;
  width: 80%;
}

.divider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 20px 0; */
}

.divider-line {
  flex-grow: 1;
  border-top: 2px solid rgb(255, 230, 0);
  margin: 16px;
}

.divider-text {
  margin: 0 16px;
  font-weight: bold;
  color: rgb(255, 230, 0);
}

.info {
  color: white;
  margin: 0px 10px;
}

.info:hover {
  color: yellow;
}

.r-logo {
  color: rgb(255, 196, 0);
}

.eÌjouir {
  color: white;
}

.delight {
  color: rgb(255, 196, 0);
}

.story {
  background: -webkit-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  background: -o-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  background: -moz-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  min-height: 300px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}

.founder-img {
  width: 80%;
  border-radius: 30% 70%;
}

.story-div {
  width: 300px;
  display: inline-block;
}

.user-info {
  text-align: left;
}

.requirement-div {
  text-align: left;
}

.requirement {
  display: inline-block;
  text-align: center;
  padding: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  margin: 10px;
  margin-left: 0px;
  margin-bottom: 0px;
}

.countries {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.country-review {
  border-radius: 10px;
  min-height: 330px;
  padding: 35px !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  margin: 15px !important;
}

.ny,
.fr,
.uk {
  position: relative;
  color: white;
  overflow: hidden; /* Ensure overflow content doesn't break the container bounds */
}

.ny::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.7),
      rgb(0, 0, 0)
    ),
    url("../public/ny.jpeg");
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
}

.fr::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.7),
      rgb(0, 0, 0)
    ),
    url("../public/france.jpeg");
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
}

.uk::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.7),
      rgb(0, 0, 0)
    ),
    url("../public/uk.jpeg");
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
}

.ny:hover::before,
.fr:hover::before,
.uk:hover::before {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .d-flex {
    flex-direction: column;
  }
  .d-flex > div {
    width: 100% !important;
  }
}

@media (max-width: 459px) {
  .second {
    display: none;
  }
}
