.Blog {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%23D6001C" fill-opacity="1" d="M0,160L120,138.7C240,117,480,75,720,74.7C960,75,1200,117,1320,138.7L1440,160L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>');
  background-repeat: no-repeat;
  background-size: 1440px 320px;
  width: 100%;
  max-width: 1450px;
  margin: auto;
}

.blog-section {
  padding: 30px;
  padding-top: 0px;
}

.blog-main {
  width: 95%;
  margin: auto;
  padding: 50px 0px;
}

.top-img,
.bottom-img {
  display: flex;
}

.top-img > img {
  max-width: 500px;
}

.sec-img > img {
  max-width: 100px;
}

.third-img > img {
  max-width: 100px;
}

.fourth-img > img {
  max-width: 100px;
}

.fifth-img > img {
  max-width: 100px;
}

.images-section {
  width: 50%;
  display: inline-block;
}

.blog-info {
  width: 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-info-child {
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.blog-info > div {
  padding: 20px;
  border-radius: 10px;
}

.row.py-3.shadow-5 {
  padding: 0px 0px 0px 0px !important;
  margin: 0px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) !important;
}

.mb-1 {
  position: relative;
}

.D_Qy-2 {
  align-items: center;
  background-color: rgba(44, 44, 45, 0.69);
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  height: 20px;
  justify-content: center;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 20px;
}

.col-12.mb-1 {
  padding: 0px !important;
  width: 100%;
}

.col-9.mb-1 {
  margin: 0px !important;
  padding: 0px !important;
  min-height: 400px;
}

.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.col-3 {
  padding: 12px;
  border-left: 1px solid #e0e0e0;
}

.col-3.mt-1 {
  margin: 0px !important;
}

.ecommerce-gallery-main-img {
  padding: 12px 0px;
  object-fit: cover;
  width: 95% !important;
}

.like-btn {
  cursor: pointer;
}

.liked-btn {
  cursor: not-allowed;
}

.filter-div {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Pushes items to the extremes: h2 to left, and the container div of selects to right */
  flex-wrap: wrap;
}

.sort-container {
  display: flex;
  gap: 20px;
}

.sort-by {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.browse-reÌjouir {
  color: orange;
}

.page-number-div {
  max-width: 300px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.page-number-div > button {
  margin: 3px;
  background-color: #00873e;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border: 0px;
}

.page-number-div > button:hover {
  background-color: #007939;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) !important;
}

.active-1 {
  background-color: #d6001c !important;
  color: white;
}

@media (max-width: 769px) {
  .ml12.aside-cta.flex--item {
    display: none;
  }
}

@media (max-width: 740px) {
  .filter-div h2 {
    flex-basis: 100%;
    margin-bottom: 10px;
  }
}
