.Faq {
  position: relative;
  padding: 48px 0px;
}

.Faq::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../public/assets/img/bg/collection_cta.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  z-index: -1;
}

.Faq .container {
  position: relative;
  z-index: 1;
}

.faq__wrapper {
  padding: 48px;
  border-radius: 24px;
  box-shadow: 0 3px 8px 5px rgba(0, 0, 0, 0.08);
  background-color: white !important;
}

.accordion-item,
.accordion-button {
  border: none !important;
  border-color: none !important;
  box-shadow: none !important;
  background-color: white !important;
}

.accordion-button.collapsed,
.accordion-button {
  font-size: 1.5rem !important;
  color: black !important;
}

.faq__wrapper .accordion-item {
  border: none;
  background: transparent;
}

.faq__wrapper .accordion-item:not(:first-child) {
  border-top: 1px solid rgba(131, 131, 131, 0.25) !important;
}

@media screen and (max-width: 1000px) {
  .accordion-button.collapsed,
  .accordion-button {
    font-size: 1.2rem !important;
    color: black !important;
  }
}

@media screen and (max-width: 500px) {
  .accordion-button.collapsed,
  .accordion-button {
    font-size: 1rem !important;
    color: black !important;
  }
  .faq__wrapper {
    padding: 30px;
  }
}

@media screen and (max-width: 400px) {
  .accordion-button.collapsed,
  .accordion-button {
    font-size: 1rem !important;
    color: black !important;
  }
  .faq__wrapper {
    padding: 15px;
  }
}
