.Header {
  position: relative;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("../static/assets/fonts/mabry-pro/MabryPro-Bold.woff") format("woff"),
    url("../static/assets/fonts/mabry-pro/MabryPro-Regular.woff2")
      format("woff2");
  font-weight: 800;
  font-style: normal;
}

.nav-item.nav-link.active {
  font-weight: 500;
  font-size: 18px;
}

.nav-item.nav-link.active.blog {
  color: var(--tg--christmas-yellow) !important;
}

.navbar.navbar-expand-lg {
  padding: 1% 2%;
  background-color: transparent;
  max-width: 1450px;
  width: 100%;
  border: 0px;
  box-shadow: none;
}

.navbar.navbar-expand-lg.fixed {
  padding: 1% 2%;
  max-width: 1450px;
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: white;
  border-bottom: 1px solid #e5e5e5 !important;
  top: 0px;
}

.btn.btn-success {
  border-radius: 30px;
  margin-right: 8px;
  box-shadow: none;
}

.btn.btn-success:hover {
  box-shadow: none;
}

.dropdown-toggle.btn.btn-secondary {
  border-radius: 30px;
  font-size: var(--font-size-300);
  padding: 10px 15px;
}

.dropdown-menu.show {
  border: 0px;
  border-radius: 20px;
  margin-top: 4px;
  padding: 10px;
}

.dropdown-item:hover {
  background-color: rgb(193, 193, 193);
}

.dropdown-item {
  border-radius: 10px;
  font-weight: bold;
}

.faMagnifying-glass-div {
  position: absolute;
  top: 25%;
  left: 2.5%;
}

.header-search-engine-div {
  position: relative;
  width: 100%;
  text-align: center;
}

.header-search-engine {
  background-color: lightgrey;
  border-radius: 30px;
  width: 98%;
  padding: 10px;
  padding-left: 45px;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.nav-item.nav-link:hover {
  color: var(--tg--christmas-yellow) !important;
}

.spin-div {
  background-color: rgb(177, 177, 177);
  max-width: 52px;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
}

.all-card-img-section {
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  background-color: rgb(237, 237, 237);
  position: absolute;
  bottom: 0;
  right: 0;
}

.all-card-img-sub-section {
  padding: 10px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.status {
  text-align: center;
  display: flex;
}

.status > div {
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.upload-icon,
.checkmark {
  margin-bottom: 10px;
}

.checkmark.no {
  color: #b2b2b2;
}

.checkmark.yes {
  color: rgb(74, 218, 74);
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

.props {
  position: absolute;
  right: 50px;
  top: 0px;
}

.props > img {
  width: 45px;
}

.account-icon {
  margin-left: auto;
  margin-right: 0px;
  cursor: pointer;
  height: 100%;
}

.account-icon-fort {
  transition: 0.3s;
  height: 40px;
}

.account-icon-fort:hover {
  color: var(--tg-common-color-gray);
}

@media screen and (max-width: 991px) {
  .props {
    display: none;
  }

  .btn.btn-success,
  .btn.btn-secondary {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .header-search-engine {
    width: 100%;
    margin-bottom: 8px;
  }
}
