:root {
  --tg-heading-font-family: "Power Grotesk";
  --tg-body-font-family: "Mabry Pro";
  --tg-body-font-color: #7b7583;
  --tg--christmas-yellow: #f8b229;
}

.nav-item.nav-link.active.blog {
  color: var(--tg--christmas-yellow) !important;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
  padding: 1% 2%;
  background-color: transparent !important;
  border: 0px !important;
  box-shadow: none !important;
}

.nav-item.nav-link {
  color: white !important;
  font-weight: bold;
  font-size: 19px;
  text-shadow: 1px 1px 1px #555;
}

.spin-div {
  background-color: rgb(177, 177, 177);
  max-width: 52px;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
}

.all-card-img-section {
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: rgb(237, 237, 237);
}

.all-card-img-sub-section {
  display: inline-block;
}

.images-section-curr {
  width: 120px !important;
  object-fit: contain;
  cursor: pointer;
  padding: 10px;
}

@media screen and (max-width: 826px) {
  .images-section {
    width: 80px !important;
    padding: 10px;
  }
  .all-card-img-sub-section {
    height: 100%;
  }
}
