.List {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%23D6001C" fill-opacity="1" d="M0,160L120,138.7C240,117,480,75,720,74.7C960,75,1200,117,1320,138.7L1440,160L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>');
  background-repeat: no-repeat;
  background-size: 1440px 320px;
  width: 100%;
  max-width: 1450px;
  margin: auto;
}

.form__group {
  padding: 0px 0 0;
  position: relative;
}

.form__field {
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #000;
  font-family: inherit;
  font-weight: 400 !important;
  outline: 0;
  padding: 7px 0 7px 17px;
  transition: border-color 0.2s;
  width: 100%;
}

.form__field:placeholder-shown ~ .form__label {
  cursor: text;
  font-size: 1rem;
  top: 20px;
}
.form__label {
  background-color: #fff;
  color: #9b9b9b;
  display: block;
  font-size: 1rem;
  margin-bottom: 0;
  margin-left: 17px;
  position: absolute;
  top: 0;
  transition: 0.2s;
}

.file-drop-area {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 25px;
  border: 1px dashed #00bfa2;
  border-radius: 3px;
  transition: 0.2s;
  background-color: #cbebe5;
}

.choose-file-button {
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.file-message {
  font-size: small;
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}

.mt-100 {
  margin-top: 100px;
}

.svg-upload-icon {
  text-align: center;
  margin-bottom: 10px;
}

.file-input-btn {
  margin: auto;
}

.file-input-btn > button {
  color: white;
  background-color: #008f79;
  font-weight: bold;
  border: 0px;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 5px;
}

.file-input-btn > p {
  text-align: center;
}

.img-thumbnail {
  background-color: rgb(241, 241, 241);
  border: 0px;
  object-fit: cover;
}

.form-control-textarea {
  height: 194px;
  max-height: 768px;
  width: 100%;
  border: 1px solid #c5c5c6;
  border-radius: 4px;
  padding: 12px 16px;
}

.description-text {
  margin: 4px 0px 8px !important;
}

.form-control-textarea:focus {
  outline: none;
  border: 3px solid #b0d7a8;
}

.list-item-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.D_Qy {
  align-items: center;
  background-color: rgba(44, 44, 45, 0.69);
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  height: 28px;
  justify-content: center;
  left: 11px;
  position: absolute;
  top: 11px;
  width: 28px;
}

.D_Qy-1 {
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  color: #fff;
  height: 28px;
  justify-content: center;
  right: 11px;
  position: absolute;
  top: 11px;
  width: 28px;
}

.input-group-addon {
  position: absolute;
  left: 16px;
  top: 65%;
  transform: translateY(-50%);
  font-size: 14px;
  color: grey;
  cursor: pointer;
}

.admin {
  background-color: white !important;
  background-image: none;
}

@media screen and (max-width: 1208px) {
  .col-md-4 {
    margin: auto;
  }
}
